<h1>
  <%= @user.username.capitalize() %>
</h1>

<h2> Average rating </h2>

<%= "#{@user.calculate_average_rating.to_s} / 5" %>

<h2> Conversations </h2>
# Conversations with a set of links to which we will go to /conversation/:id

