<h1>
  <%= @user.username.capitalize() %>
</h1>

<h2> Average rating </h2>

<%= "#{@user.calculate_average_rating.round(2).to_s} / 5" %>

<h2> Conversations </h2>

<% if current_user.customer == true %>
  <tr>
    <% current_user.customer_conversations.each do |a_conversation| %>
      <li> 
        <%= link_to "Conversation #{a_conversation.id}: status is #{a_conversation.status}", conversation_path(a_conversation.id) %>  
      </li>
    <% end %>
  </tr>
<% end %>

