<div class="row mb-1">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Conversation # <%= conversation.id %></h5>
        <p class="card-text"> The status of this conversation is <%= conversation.status %> </p>
        <%= link_to "Access conversation details", conversation, class: "card-link" %>
      </div>
    </div>
  </div>
</div>