<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-4">
      Ratings
    </h1>
    <p class="display-5"> Ratings given by <%= current_user.username.capitalize() %>: </p>
  </div>
</div>

<tr>
  <% current_user.gradee_ratings.each do |a_rating| %>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="lead text-muted">
          <%= "Rating of #{a_rating.grade}/5 given to #{a_rating.grader.username.capitalize() } " %>
        </h1>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <%= render "/shared/rate_bar", number: a_rating.grade %>
      </div>
    </div>
  <% end %>
<tr>